<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todo List</h1>

    <h2>Left to do: <%= left %></h2>

    <section class="todo-section">
        <h3>To Do</h3>
        <ul class="todoItems">
        <% for(let i = 0; i < items.length; i++) { %>
            <% if(items[i].completed !== true) { %>
                <li class="item">
                    <input class="todo-toggle" type="checkbox" aria-label="Mark <%= items[i].thing %> complete">
                    <span><%= items[i].thing %></span>
                    <span class="fa fa-trash"></span>
                </li>
            <% } %>
        <% } %>
        </ul>
    </section>

    <section class="todo-section">
        <h3>Completed</h3>
        <ul class="todoItems">
        <% for(let i = 0; i < items.length; i++) { %>
            <% if(items[i].completed === true) { %>
                <li class="item">
                    <input class="todo-toggle" type="checkbox" checked aria-label="Mark <%= items[i].thing %> incomplete">
                    <span class="completed"><%= items[i].thing %></span>
                    <span class="fa fa-trash"></span>
                </li>
            <% } %>
        <% } %>
        </ul>
    </section>

    <h2>Add A Todo</h2>
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit" value="Add">
    </form>

    <script src="js/main.js"></script>
</body>
</html>
